body {
  margin: 0;
  // Import the Code
  padding: 20px 40px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
// Style for Link in react-router-dom
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}
